.quiz-container {
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.button-answer {
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 20px;
    border: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 3px;
    margin-right: 10px;
}

.button-answer:hover {
    background: #44a559;
    color: #fff;
}

